# ref link: https://alinex.gitlab.io/env/mkdocs/
#===================================================================================#
# Site Information
#===================================================================================#
site_name: binbash Leverage™
repo_name: "binbashar/le-ref-architecture-doc"
repo_url: https://github.com/binbashar/le-ref-architecture-doc
site_url: https://leverage.binbash.co/
site_description: binbash Leverage Reference Architecture Documentation
site_author: binbash
copyright: Copyright &copy; 2017-2023 <a href="https://www.binbash.co">binbash</a>

#===================================================================================#
# Mkdocs Theme (Material Mkdocs) + Extras
#===================================================================================#
theme:
  name: material
  custom_dir: material
  language: en
  #logo: assets/images/logos/binbash-icon.png
  icon: # https://www.materialpalette.com/icons
    logo: material/book-open-page-variant
  favicon: assets/images/logos/favicon.ico
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - header.autohide
    - content.action.edit
    #- content.tabs.link #Insiders only so far
    - content.code.annotate
  palette: # https://www.materialpalette.com/colors
    - scheme: default
      #primary: "teal" # comment to replace by /docs/assets/stylesheets
      accent: deep purple
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      #primary: "teal" # comment to replace by /docs/assets/stylesheets
      accent: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

  include_sidebar: true

extra:
  #generator: false
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY

## Temporally only available for Insiders
## (https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-analytics/#was-this-page-helpful)
#    feedback:
#      title: Was this page helpful?
#      ratings:
#        - icon: material/emoticon-happy-outline
#          name: This page was helpful
#          data: 1
#          note: >-
#            Thanks for your feedback!
#        - icon: material/emoticon-sad-outline
#          name: This page could be improved
#          data: 0
#          note: >-
#            Thanks for your feedback! Help us improve this page by
#            using our <a href="..." target=_blank>feedback form</a>.

  social:
    - icon: material/home
      link: 'https://www.binbash.co'
    - icon: material/github
      link: 'https://github.com/binbashar'
    - icon: material/linkedin
      link: 'https://www.linkedin.com/company/binbash'
    - icon: material/slack
      link: 'https://join.slack.com/t/binbashar/shared_invite/zt-fw1692b6-9k4ADsWJ47lKacszphXM1w'
    - icon: material/youtube
      link: 'https://www.youtube.com/channel/UCUjQ3duzxQB_VtNsKNqPwDA/playlists'
    - icon: fontawesome/brands/medium
      link: 'https://medium.com/binbash-inc'
    - icon: material/twitter
      link: 'https://twitter.com/binbash_devops'
    - icon: material/docker
      link: 'https://hub.docker.com/orgs/binbash'

  alternate:
    # Switch to English
    - name: English
      #link: https://leverage.binbash.co
      link: /
      lang: en

    # Switch to Spanish
    - name: Spanish
      #link: https://leverage.binbash.co/es/
      link: /es
      lang: es

#===================================================================================#
# Mkdocs Markdown Extentions, Plugins & extras
#===================================================================================#
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - codehilite
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      # insert a blank space before the character
      permalink: " ¶"

plugins:
  - search
#  - awesome-pages

extra_css:
    - assets/stylesheets/extra.css

#===================================================================================#
# Mkdocs Navigation Tree
#===================================================================================#
nav:
  - Home:
    - Home: "index.md"
    - Welcome: "concepts/index.md"
    - First steps: "try-leverage/index.md"
    - How it works: "how-it-works/ref-architecture/index.md"
    - User guide: "user-guide/index.md"
    - Work with us: "work-with-us/index.md"
    - License: "license.md"

  - Try Leverage:
    - Index: "try-leverage/index.md"
    - Creating your AWS Management account: "try-leverage/aws-account-setup.md"
    - Install Leverage CLI: "try-leverage/local-setup.md"
    - Create a Leverage project: "try-leverage/leverage-project-setup.md"
    - Configure the Management account: "try-leverage/management-account.md"
    - Configure the Security and Shared accounts: "try-leverage/security-and-shared-accounts.md"
    - Post-deployment: "try-leverage/post-deployment.md"
    - Add more AWS Accounts: "try-leverage/add-aws-accounts.md"    

  - Concepts:
    - Index: "concepts/index.md"
    - What is Leverage?: "concepts/what-is-leverage.md"
    - Why Leverage?: "concepts/why-leverage.md"
    - What can Leverange do for you?: "concepts/what-leverage-can-do-for-you.md"
    - Our Tech Stack: "concepts/our-tech-stack.md"
    - Next Steps: "concepts/next-steps.md"

  - User Guide:
    - Index: "user-guide/index.md"
    - Reference Architecture for AWS:
      - Overview: "user-guide/ref-architecture-aws/overview.md"
      - Project Structure: "user-guide/ref-architecture-aws/dir-structure.md"
      - Configuration: "user-guide/ref-architecture-aws/configuration.md"
      - Workflow: "user-guide/ref-architecture-aws/workflow.md"
      - Terraform State: "user-guide/ref-architecture-aws/tf-state.md"
      - Features:
        - Index: "user-guide/ref-architecture-aws/features/index.md"
        - AWS Organizations:
          - Overview: "user-guide/ref-architecture-aws/features/organization/overview.md"
          - Managing Accounts: "user-guide/ref-architecture-aws/features/organization/accounts.md"
          - Configuration: "user-guide/ref-architecture-aws/features/organization/configuration.md"
          - Billing: "user-guide/ref-architecture-aws/features/organization/billing.md"
          - Legacy Accounts: "user-guide/ref-architecture-aws/features/organization/legacy-accounts.md"
        - SSO:
          - Overview: "user-guide/ref-architecture-aws/features/sso/overview.md"
          - Configuration: "user-guide/ref-architecture-aws/features/sso/configuration.md"
          - Onboarding Users: "user-guide/ref-architecture-aws/features/sso/managing-users.md"
        - Identities:
          - Overview: "user-guide/ref-architecture-aws/features/identities/overview.md"
          - GPG Keys: "user-guide/ref-architecture-aws/features/identities/gpg.md"
          - Identities: "user-guide/ref-architecture-aws/features/identities/identities.md"
          - Credentials: "user-guide/ref-architecture-aws/features/identities/credentials.md"
          # - Credentials Vault: "user-guide/ref-architecture-aws/features/identities/credentials-vault.md"
          - IAM Roles: "user-guide/ref-architecture-aws/features/identities/roles.md"
        - Costs: "user-guide/ref-architecture-aws/features/costs/costs.md"
        - Security:
          - Overview: "user-guide/ref-architecture-aws/features/security/overview.md"
          - VPN: "user-guide/ref-architecture-aws/features/security/vpn.md"
          - CloudTrail: "user-guide/ref-architecture-aws/features/security/audit-cloudtrail.md"
          - Certificates: "user-guide/ref-architecture-aws/features/security/certificates.md"
          - IAM Access Anayzer: "user-guide/ref-architecture-aws/features/security/iam-access-analyzer.md"
          - Firewall Manager: "user-guide/ref-architecture-aws/features/security/firewall-manager.md"
        - Network:
          - VPC: "user-guide/ref-architecture-aws/features/network/vpc-addressing.md"
          - VPC Peering: "user-guide/ref-architecture-aws/features/network/vpc-peering.md"
          - VPC Topology: "user-guide/ref-architecture-aws/features/network/vpc-topology.md"
          - VPC Traffic Out: "user-guide/ref-architecture-aws/features/network/vpc-traffic-out.md"
          - DNS: "user-guide/ref-architecture-aws/features/network/dns.md"
          - Transit Gateway: "user-guide/ref-architecture-aws/features/network/tgw-topology.md"
        - Secrets: "user-guide/ref-architecture-aws/features/secrets/secrets.md"
        - Compute:
          - Overview: "user-guide/ref-architecture-aws/features/compute/overview.md"
          - K8s EKS: "user-guide/ref-architecture-aws/features/compute/k8s-eks.md"
          - K8s Kops: "user-guide/ref-architecture-aws/features/compute/k8s-kops.md"
          - K8s Service Mesh: "user-guide/ref-architecture-aws/features/compute/k8s-service-mesh.md"
          - Serverless: "user-guide/ref-architecture-aws/features/compute/serverless.md"
          - Tools: "user-guide/ref-architecture-aws/features/compute/tools.md"
        - Database:
          - Databases: "user-guide/ref-architecture-aws/features/database/database.md"
          - MySQL: "user-guide/ref-architecture-aws/features/database/mysql.md"
          - PostgresSQL: "user-guide/ref-architecture-aws/features/database/postgres.md"
        - Storage: "user-guide/ref-architecture-aws/features/storage/storage.md"
        - CDN: "user-guide/ref-architecture-aws/features/cdn/cdn.md"
        - CI/CD:
          - ArgoCD: "user-guide/ref-architecture-aws/features/ci-cd/argocd.md"
          - Jenkins & ArgoCD: "user-guide/ref-architecture-aws/features/ci-cd/jenkins-argocd.md"
          - Jenkins & Spinnaker: "user-guide/ref-architecture-aws/features/ci-cd/jenkins-spinnaker.md"
        - Monitoring:
          - Monitoring: "user-guide/ref-architecture-aws/features/monitoring/monitoring.md"
          - Metrics: "user-guide/ref-architecture-aws/features/monitoring/metrics.md"
          - Logs: "user-guide/ref-architecture-aws/features/monitoring/logs.md"
          - Tracing: "user-guide/ref-architecture-aws/features/monitoring/tracing.md"
          - APM: "user-guide/ref-architecture-aws/features/monitoring/apm.md"
        - Reliability:
          - Backups: "user-guide/ref-architecture-aws/features/reliability/backups.md"
          - Disaster Recovery: "user-guide/ref-architecture-aws/features/reliability/dr.md"
          - High Availability: "user-guide/ref-architecture-aws/features/reliability/high-availability.md"
      - References: "user-guide/ref-architecture-aws/references.md"
    - Reference Architecture for EKS:
      - Overview: "user-guide/ref-architecture-eks/overview.md"
      - VPC: "user-guide/ref-architecture-eks/vpc.md"
      - Components: "user-guide/ref-architecture-eks/components.md"
      - Upgrading EKS: "user-guide/ref-architecture-eks/cluster-upgrade.md"
    - Reference Architecture for Ansible:
      - Overview: "user-guide/ref-architecture-ansible/overview.md"
      - Workflow: "user-guide/ref-architecture-ansible/workflow.md"
    - Leverage CLI:
      - Overview: "user-guide/leverage-cli/overview.md"
      - Installation: "user-guide/leverage-cli/installation.md"
      - Basic features: "user-guide/leverage-cli/basic-features.md"
      - Commands Reference:
        - project: "user-guide/leverage-cli/reference/project.md"
        - credentials: "user-guide/leverage-cli/reference/credentials.md"
        - aws: "user-guide/leverage-cli/reference/aws.md"
        - terraform:
            - commands: "user-guide/leverage-cli/reference/terraform.md"
            - layers: "user-guide/leverage-cli/reference/terraform/layers.md"
        - tfautomv: "user-guide/leverage-cli/reference/tfautomv.md"
        - run: "user-guide/leverage-cli/reference/run.md"
        - kubectl: "user-guide/leverage-cli/reference/kubectl.md"
      - Extending Leverage:
        - How to extend Leverage: "user-guide/leverage-cli/extending-leverage/how-to-extend.md"
        - The build.env file: "user-guide/leverage-cli/extending-leverage/build.env.md"
        - Custom tasks: "user-guide/leverage-cli/extending-leverage/tasks.md"
      - Private Repositories: "user-guide/leverage-cli/private-repositories.md"
      - Getting shell access: "user-guide/leverage-cli/shell.md"
      - A bit of history: "user-guide/leverage-cli/history.md"
    - Infra-as-Code Library:
      - Overview: "user-guide/infra-as-code-library/overview.md"
      - Forks workflow: "user-guide/infra-as-code-library/infra-as-code-library-forks.md"
      - Specifications: "user-guide/infra-as-code-library/infra-as-code-library-specs.md"
      - Modules by Technology: "user-guide/infra-as-code-library/modules-library-by-technology.md"
    - Troubleshooting: "user-guide/troubleshooting/index.md"
  - Work with us:
      - Overview: "work-with-us/index.md"
      - Support: "work-with-us/support.md"
      - Releases:
          - Releases and Versions: "work-with-us/releases/releases-and-versions.md"
          - Versions compatibility matrix: "work-with-us/releases/versions-compatibility-matrix.md"
      - Leverage vs Competition: "work-with-us/leverage-vs-competition.md"
      #- Subscription Plans: "work-with-us/subscription-plans.md"
      - Contribute: "work-with-us/contribute.md"
      - Roadmap:
        - Reference Architecture:
          - Overview: "work-with-us/roadmap/ref-arch/overview.md"
          - Operational Excellence: "work-with-us/roadmap/ref-arch/operational-excellence.md"
          - Reliability & Performance: "work-with-us/roadmap/ref-arch/reliability-performance.md"
          - Security: "work-with-us/roadmap/ref-arch/security.md"
          - Cost Optimization: "work-with-us/roadmap/ref-arch/cost-optimization.md"
          - Demo Applications: "work-with-us/roadmap/ref-arch/demo-apps.md"
        - Leverage CLI: "work-with-us/roadmap/leverage-cli/overview.md"
      - Careers: "work-with-us/careers.md"
      #- Team: "work-with-us/team.md"
      #- Testimonials: "work-with-us/testimonials.md"
      - FAQs: "work-with-us/faqs.md"
      - Contact Us: https://www.binbash.co/contact
