.md-typeset__table {
    min-width: 100%;
}

@media only screen and (min-width: 768px)
{
	td:nth-child(1){
		white-space: nowrap;
	}
}

* {
    --md-primary-fg-color: #0a192f;
    --md-primary-fg-color--light: #029c8e;
    --md-primary-fg-color--dark:  #303C55;
    --md-typeset-color:   var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color--light);
}

:root {
    --md-primary-fg-color: #0a192f;
    --md-primary-fg-color--light: #029c8e;
    --md-primary-fg-color--dark:  #303C55;
}

:root>* {
    --md-typeset-color:   var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color--light);
}

/*
markdown and image alignment
ALT tag and a CSS selector on the alt tag
*/
img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}

/*
Tables set to 100% width
*/
.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

/*
Colors for First Steps
custom code blocks coloring
*/
.fsg-timestamp {
    color: grey;
}
.fsg-userinput {
    color: cornflowerblue;
}
.fsg-path, .fsg-prompt {
    color: mediumseagreen;
}