.md-typeset__table {
    min-width: 100%;
}

@media only screen and (min-width: 768px)
{
	td:nth-child(1){
		white-space: nowrap;
	}
}

/*markdown and image alignment
ALT tag and a CSS selector on the alt tag
*/
img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}